h5{
    font-weight: bold !important;
    /* color: #b2b3b7 !important; */
    font-size: 16px;
}
h2{
    font-weight: bold !important;
}
h1{
    font-weight: bolder !important;
    font-size: 40px ;
    color: #b2b3b7;
}
.sec_padding h1{
    padding-top: 40px ;
    padding-bottom: 40px ;
}
.nav_main {
    /* padding:5px 200px 5px 200px !important; */
}

.nav_main .nav-link:hover {
    color: #fbb217 !important;
    text-decoration: none;
}
.nv_mrgin{
    margin-top: 25px !important;
}

.nav_main .nav-link {
    /* color: #b2b3b7 !important; */
    font-weight: bold !important;
}
.list-unstyled a{
    color: #b2b3b7 !important;
}

.list-unstyled a:hover {
    color: #fbb217 !important;
    text-decoration: none;
}

.navbar-brand {
    margin-right: 0px !important;
}

body {
    font-family: Arial !important;
}

.active_nv {
    color: #fbb217 !important;
}

.bg_img {
    min-height: calc(100vh) !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}

.slider_sec h1{
    font-weight: bolder !important;
    font-size: 50px !important;
    border-bottom: 5px solid #fbb217 !important;
    padding-bottom: 20px !important;
    color: black !important;
}
.slider_sec{
    padding-top: 140px !important;
    padding-left: 350px !important;
    text-align: center !important;
}
.sec_padding{
    padding:5px 200px 5px 200px !important;
}

.srvc_brder_rw{
    padding: 40px 20px;
    border: 1px solid #b2b3b7 !important;
    border-radius: 10px !important;
    margin-bottom: 55px;
}

.srvc_brder_rw .circle{
    padding: 20px 28px !important;
    background-color:#fbb217 !important;
    border-radius: 100px !important;
    margin-top: 20px !important;
}
.srvc_brder_rw .circle_col{
    /* padding-top: 60px !important; */
}
.readMore_btn{
    color: #1c6ca2 !important;
    border: 1px solid lightgray !important;
}
.readMore_btn:hover{
    color: #fff !important;
    background-color: #286090;
    border-color: #204d74;
}
.about_gray_dv{
    width: 100% !important;
    height: 56vh !important;
    background-color: #b2b3b7 !important; !important;
    margin-top: 60px !important;
}
.about_yellow_dv{
    background-color: #fbb217 !important;
    font-weight: bold !important;
    text-align: center !important;
    padding-top: 80px !important;
    padding-bottom: 20px !important;
    
    
}
.about_sec img{
    position: absolute !important;
    top: 0 !important;
    width: 68% !important;
    left: 16% !important;
    margin: auto !important;
}

.about_sec{
    padding:0px 220px 5px 220px !important;
    position: relative !important;
    margin-bottom: 40px;
}
.about_sec p{
    margin-top: 30px !important;
}

.ftr_abv_dv{
    background-color: #fbb217 !important;
    padding: 10px !important;
}
.footer{
    background-color: #b2b3b7 !important;
    color: black !important;
    padding-top: 100px !important;
    padding-bottom: 100px !important;
}
.footer a{
    color: black;
}
.footer a:hover{
    text-decoration: none;
    color: white;
}

.footer .nv_col h5{
    color: black !important;
    font-size: 19px;
    font-weight: bold !important;
}
.footer .nv_col ul{
    list-style-type: none !important;
}
.first_li{
    margin-right: 100px !important;
}

@media only screen and (min-width : 1360px) and (max-width : 1500px){
    .first_li {
        margin-right: 0px !important;
    }
    .nav_main {
        padding: 5px 0px 5px 0px !important;
    }
    .slider_sec {
        padding-top: 30px !important;
        padding-left: 180px !important;
        text-align: center !important;
    }
    .sec_padding {
        padding: 5px 150px 5px 150px !important;
    }
    .srvc_brder_rw .circle {
        padding: 15px 24px !important;
    }
    .about_gray_dv {
        height: 65vh !important;
    }
    .about_yellow_dv {
        padding-top: 48px !important;
        padding-bottom: 13px !important;
    }
    .footer{
        /* padding-top: 30px !important; */
    }
}


@media only screen and (min-width : 768px) and (max-width : 1360px){
    .nav_main .nav-link {
        font-weight: 600 !important;
        font-size: 13px !important;
    }

    .nav_main{
        padding: 0px !important;
    }
    .first_li {
        margin-right: 0px !important;
    }

    .slider_sec {
        padding-left: 126px !important;
        padding-bottom: 50px !important;
    }
    .slider_sec h1 {
        font-size: 35px !important;
    }
    .sec_padding {
        padding: 5px 30px 5px 30px !important;
    }
    .srvc_brder_rw .circle {
        padding: 9px 18px !important;
    }
    .about_sec {
        padding: 0px 80px 5px 80px !important;
    }
    h1 {
        font-size: 30px !important;
    }
    h2 {
        font-size: 25px !important;
    }
    h5 {
        font-size: 19px !important;
    }
    .footer{
        padding-top: 40px !important;
        padding-bottom: 30px !important;
    }
    .readMore_btn {
        font-size: 13px !important;
        
    }
    .social_img img {
        margin-left: 0px !important;
    }
    .social_img {
        margin-left: 0px !important;
    }
} 


@media only screen and (max-width: 768px) {

    .srvc_brder_rw img{
        margin-top: 10px;
        width: 50%;
      }

      .srvc_brder_rw {
        padding: 10px 5px !important;
        margin-bottom: 40px !important;
    }
    .nv_mrgin {
        margin-top: 0px !important;
    }
    .nav_main .nav-link {
        font-weight: 100 !important;
        font-size: 12px !important;
    }
    .nav_main {
        padding: 0px !important;
    }
    .first_li {
        margin-right: 0px !important;
    }
    .slider_sec {
        padding-top: 50px !important;
        padding-left: 40px !important;
        padding-bottom: 40px !important;
        text-align: center !important;
    }

    .sec_padding h1 {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    h1 {
        font-size: 22px !important;
    }
    h2 {
        font-size: 18px !important;
    }
    h5 {
        font-size: 15px !important;
    }

    .srvc_brder_rw .circle {
        display: none !important;
    }
    .sec_padding {
        padding: 5px 80px 5px 80px !important;
        text-align: center !important;
    }
    .about_sec {
        padding: 0px 50px 5px 50px !important;
        margin-bottom: 15px;
    }
    .about_gray_dv {
        height: 8vh !important;
        /* margin-top: 0px !important; */
    }
    .about_yellow_dv {
        padding-top: 10px !important;
        padding-bottom: 10px !important;
    }
    .ftr_above_sec {
        margin: 25px 0px !important;
    }
    .nv_col{
        margin-top: 25px !important;
    }
    .bg_img {
        min-height: auto !important;
    }
    .carousel-indicators{
        display: none;
    }
    .carousel-caption {
        right: 22% !important;
        top: -18% !important;
    }
    .carousel-caption h1 {
        font-size: 14px!important;
        border-bottom: 3px solid #fbb217;
        padding-bottom: 3px;
        margin-bottom: 3px;
    }
    .carousel-caption p {
        font-size: 11px;
    }
    .carousel-caption a {
        font-size: 11px;
        padding: 1px 15px;
        margin-top: -20px !important;
    }

.nv_col h5{
    margin-left: 0px !important;
}
.nv_col ul{
    padding-left: 0px !important;
}

.carousel-item img{
    opacity: 0.5;
}

}